.home-container {
    font-family: 'Arial', sans-serif;
    width: 100%;
    margin: 2rem auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container h1 {
    color: #333;
    margin-bottom: 20px;
}

.post-container-item {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.post-container-item:last-child {
    margin-bottom: 0;
}


/* Existing CSS */
.like-button {
    background-color: #ff4500; /* Reddit-like orange color */
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    float: right; /* Align to the right */
    transition: transform 0.2s, background-color 0.3s; /* Added transition */
}

.like-button:hover {
    background-color: #e03e00;
    transform: scale(0.95); /* Shrinks slightly */
}

/* Added CSS */
.like-button:active,
.liked {
    background-color: #007bff; /* Blue color */
}

.liked:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

